*{margin: 0;
padding: 0;}
@import "http://fonts.fontstorage.com/import/greatvibes.css";
@font-face {font-family: Cleanvertising;
src: url(../fonts/CLEANVEL.TTF);}
@font-face {font-family: FontAwesome;
src: url(../fonts/FontAwesome.otf);}
@font-face {font-family:ZnikomitNo25;
src: url(../fonts/ZnikomitNo25.otf);}

body {background:url(../images/23obsluzh.png)center center fixed no-repeat;
background-size: cover;}

header {width: 100%;
height: 100px;
position: fixed;
position: absolute;
z-index: 99;
background: rgba(140, 119, 74, 0.7);
font-family: Cleanvertising, sans-serif; }

#logo {width: 90px;
height: 100px;
float: left;
opacity: 0.7;
margin-left: 60px;
margin-right: 50px;
cursor: pointer;
}
#logo img {width: 90px;
height: auto}

menu {width: 75%;
height: 100px;
float: left;}

menu ul{position: relative;
}

menu ul li {float:left; 
  list-style-type:none;}

menu ul li {font-size: 1em;
text-transform: uppercase;
color: white;
font-family: Cleanvertising, sans-serif;
padding: 17px 30px 21px 30px;}

menu li a{display:block; 
  color:white; 
  text-decoration:none; 
  padding:20px}
menu ul li:hover > ul{display:block}

menu ul ul {display:none;
  position:absolute;
  top:100px}

menu ul ul li
{float: none;
  background: rgba(140, 119, 74, 0.7);
position: relative;
padding: 4px 20px 4px 20px;
text-transform: uppercase;}

menu ul ul li:hover {color: white;
text-decoration: underline;}
menu ul ul ul{position:absolute; 
  top:0; 
  left:100%}

#bar {float: left;
  margin-right: 40px;}

#bar i {font-size: 1.5em;
padding: 20px 10px 41px 20px;
color: white;
cursor: pointer;
opacity: 0.7
}

/************************************************************/
article {width: 70%;
height: auto;
margin-top: 150px;
margin-bottom: 40px;
margin-left: 15%;
font-family: Cleanvertising, sans-serif;
float: left;
font-size: 1.4em;
background: rgba(250,250, 250, 0.6);
}
article h1 {padding: 25px 25px 0 25px;
line-height: 1.8em;
font-family:ZnikomitNo25;
font-weight: 900;
color:#211818;
letter-spacing: 0.2em;
text-shadow: -1px 1px 0px rgba(0,0,0,1);
text-transform: uppercase;
text-align: center;}

article p {padding: 0px 25px 15px 25px;
text-align: justify;
}

h4 {margin-top: 40px;
	font-family: Cleanvertising, sans-serif;
	letter-spacing: 0.4em;
font-size: 1.4em;
text-transform: uppercase;
text-align: center;
}
.mono
{margin-left: 1.5em;
	margin-right: 0.5em;
	float: left;}

#test1 {width: 85%;
height: 562px;
background: url(../images/proj1.png);
margin: 30px auto;
}

#gallery ul li
{	display: inline-block;
	margin-left: 30px}

button {margin-top: 20px;
	margin-bottom: 25px;
	margin-left: 35%;
	float: left;
	text-align: center;
padding: 16px 10px 5px 10px;
color: white;
background: rgb(140, 119, 74);
font-family: Cleanvertising, sans-serif;
font-weight: bold;
border-radius: 85px 0px 87px 0px;
-moz-border-radius: 85px 0px 87px 0px;
-webkit-border-radius: 85px 0px 87px 0px;
border: 0px solid #000000;
letter-spacing: 0.1em;
font-size: 0.8em;
text-transform: uppercase;
position: relative;
outline: none;
cursor: pointer; }

button a {text-decoration: none;
color: white}

#dws-input {float: left;
  position: absolute;
  z-index: 99;
  display: none;
  left: 33%;
  top: 100px;
width: 430px;
height: 600px;
background: rgba(140, 119, 74, 0.7);
color: white; 
padding-left: 20px;
}
#dws-input p {font-size: 14pt;
  font-family: Cleanvertising, sans-serif;
}
input {width:300px;
margin-bottom:15px;
outline:none;
}
input[type=text] 
{width:400px;
height:30px;
outline:none;
}

textarea {width:400px;
height:150px;
outline:none;
margin-left: 1%}

input[type=button]
{margin-top: 10px;
	margin-bottom: 25px;
	margin-left: 12%;
	float: left;
	text-align: center;
padding: 12px 15px 10px 15px;
color: white;
background: rgb(140, 119, 74);
font-family: Cleanvertising, sans-serif;
letter-spacing: 0.1em;
font-size: 1.2em;
border-radius: 85px 0px 87px 0px;
-moz-border-radius: 85px 0px 87px 0px;
-webkit-border-radius: 85px 0px 87px 0px;
border: 1px solid #ffffff;
letter-spacing: 0.1em;
text-transform: uppercase;
position: relative;
outline: none;
cursor: pointer; 
}
i {color: white;
float: right;
cursor: pointer;
margin-right: 10px;
margin-top:10px;}
/************************************************************/

footer {width: 100%;
height: 300px;
background: rgba(140, 119, 74, 0.6);
border-radius: 200px 0px 0px 0px;
-moz-border-radius: 200px 0px 0px 0px;
-webkit-border-radius: 200px 0px 0px 0px;
border: 0px solid #000000;
float: left;}

#footer {width:90%;
height: 250px;
margin-top: 50px;
margin-left: 5%;
float: left;
bottom: 0;
}
footer #fin {width: 30%;
height: 200px;
float: left;
letter-spacing: 0.2em;
margin-right: 5%;
text-shadow: 2px 2px 1px rgba(17, 17, 17, 1);
}

#footer .a{margin-right:0%}

#fin h2 {color: white;
text-transform: uppercase;
text-align: left;
font-family: Cleanvertising, sans-serif;
padding: 20px 0 10px 20px;
line-height: 1.8em;}

#fin p {color: white;
	font-size: 1.5em;
text-align: left;
font-family: Cleanvertising, sans-serif;
padding: 20px 0 10px 20px;
line-height: 1.8em;}

iframe {width: 100%;
height: 100%}