*{margin: 0;
padding: 0;}
@import "http://fonts.fontstorage.com/import/greatvibes.css";
@font-face {font-family: Cleanvertising;
src: url(../fonts/CLEANVEL.TTF);}
@font-face {font-family: FontAwesome;
src: url(../fonts/FontAwesome.otf);}
@font-face {font-family: Bad Script;
src: url(../fonts/BadScript-Regular.ttf);}

body {background:url(../images/contacts.png)center center fixed no-repeat;
background-size: cover;}

header {width: 100%;
height: 100px;
position: fixed;
position: absolute;
z-index: 99;
background: rgba(140, 119, 74, 0.7);
font-family: Cleanvertising, sans-serif; }

#logo {width: 90px;
height: 100px;
float: left;
opacity: 0.7;
margin-left: 60px;
margin-right: 50px;
cursor: pointer;
}
#logo img {width: 90px;
height: auto}

menu {width: 77%;
height: 100px;
float: left;}

menu ul{position: relative;
}

menu ul li {float:left; 
	list-style-type:none;}

menu ul li {font-size: 1em;
text-transform: uppercase;
color: white;
font-family: Cleanvertising, sans-serif;
padding: 17px 30px 21px 30px;}

menu li a{display:block; 
	color:white; 
	text-decoration:none; 
	padding:20px}
menu ul li:hover > ul{display:block}

menu ul ul {display:none;
	position:absolute;
	top:100px}

menu ul ul li
{float: none;
	background: rgba(140, 119, 74, 0.7);
position: relative;
padding: 4px 20px 4px 20px;
text-transform: uppercase;}

menu ul ul li:hover {color: white;
text-decoration: underline;}
menu ul ul ul{position:absolute; 
	top:0; 
	left:100%}

#bar {float: left;
	margin-right: 40px;}

#bar i {font-size: 1.5em;
padding: 35px 20px 41px 20px;
color: white;
cursor: pointer;
opacity: 0.7
}
/******************************************************/
section.a {width: 80%;
height: 650px;
float: left;
position: relative;
margin-top: 80px;
margin-left: 20%;
margin-bottom: 20px;
color: #d1af69;
font-family: Cleanvertising, sans-serif;
}
.ablock1 {position: absolute;
	z-index:1;
	margin-left: 0px;
	margin-top: 0px;	
}

section.a h1 {font-size: 3.2em;
float: left;
text-transform: uppercase;
text-shadow: 2px 2px 1px rgba(17, 17, 17, 1);
line-height: 1.86em;
margin-top: 38px;
margin-left: 45%}

#dws-input {float: left;
  position: absolute;
  z-index: 99;
  left: 33%;
  top: 60px;
width: 430px;
height: 560px;
background: rgba(140, 119, 74, 0.7);
color: white; 
padding-left: 20px;
-webkit-box-shadow: -2px -2px 0px 0px rgba(120,104,62,1);
-moz-box-shadow: -2px -2px 0px 0px rgba(120,104,62,1);
box-shadow: -2px -2px 0px 0px rgba(120,104,62,1);
}

#dws-input p {font-family: Cleanvertising, sans-serif;
font-size: 14pt}

#dws-input h4 {text-transform: uppercase;
	color: white;
	margin-top: 10px;
	font-size: 1.3em;
font-family: Cleanvertising, sans-serif;
letter-spacing: 0.4em;
text-align: center;
}


input {width:300px;
margin-bottom:15px;
outline:none;
}
input[type=text] 
{width:400px;
height:30px;
outline:none;
}

textarea {width:400px;
height:150px;
outline:none;
margin-left: 1%}

input[type=button]
{margin-top: 10px;
	margin-bottom: 25px;
	margin-left: 12%;
	float: left;
	text-align: center;
padding: 12px 15px 10px 15px;
color: white;
background: rgb(140, 119, 74);
font-family: Cleanvertising, sans-serif;
letter-spacing: 0.1em;
font-size: 1.2em;
border-radius: 85px 0px 87px 0px;
-moz-border-radius: 85px 0px 87px 0px;
-webkit-border-radius: 85px 0px 87px 0px;
border: 1px solid #ffffff;
letter-spacing: 0.1em;
text-transform: uppercase;
position: relative;
outline: none;
cursor: pointer; 
}
/*******************************************************/
footer {width: 100%;
height: 300px;
background: rgba(140, 119, 74, 0.6);
border-radius: 200px 0px 0px 0px;
-moz-border-radius: 200px 0px 0px 0px;
-webkit-border-radius: 200px 0px 0px 0px;
border: 0px solid #000000;
float: left;}

#footer {width:90%;
height: 250px;
margin-top: 30px;
margin-left: 5%;
float: left;
bottom: 0;
}
footer #fin {width: 30%;
height: 200px;
float: left;
letter-spacing: 0.1em;
margin-right: 5%;
text-shadow: 2px 2px 1px rgba(17, 17, 17, 1);
}

#footer .a{margin-right:0%}

#fin h2 {color: white;
text-transform: uppercase;
text-align: left;
font-family: Cleanvertising, sans-serif;
padding: 20px 0 10px 20px;
line-height: 1.8em;}

#fin p {color: white;
	font-size: 1.5em;
text-align: left;
font-family: Cleanvertising, sans-serif;
padding: 20px 0 10px 20px;
line-height: 1.8em;}

iframe {width: 100%;
height: 100%}

#toTop {
width:auto;
border-radius: 10px;
background:#685b3a;
text-align:center;
padding:10px;
position:fixed;
bottom:20px; /* отступ кнопки от нижнего края страницы*/
right:20px;
cursor:pointer;
display:none;
color:white;
font-size:2em;
}
